API_ID=123456
API_HASH=your_api_hash_here
KEY_BOT_TOKEN=YOUR_KEY_BOT_TOKEN
UPLOADER_BOT_TOKEN=YOUR_UPLOADER_BOT_TOKEN
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
CACHE_CHANNEL_ID=-100123456789
OWNER_ID=123456789
PORT=8000
